/*
utils
*/
.center_text {
    text-align: center;
}

.padding_sm {
    padding: 2.5em;
}

.margin_top_sm {
    margin-top: 2em;
}

.padding_left_sm {
    padding-left: 2em;
}

/*
containers
*/

.flex_container_col {
    display: flex;
    flex-direction: column;
}

.grid_container {
    display: grid;
    /* place-items: center stretch; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
}

.grid_item_one {
    grid-column: 2 / 4;

    /* grid-column: 2 / 4; */
}

.grid_item_two {
    grid-column: -3 / -5;

    /* grid-column: -3 / -5; */
}

.grid_item_three {
    grid-column: 3 / 5;

    /* grid-column: 3 / 5; */
}

/*
media queries
*/

@media screen and (width <= 375px) {
    .grid_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .grid_item_one {
        grid-column: 2 / 4;
    }

    .grid_item_two {
        grid-column: 2 / 4;
    }

    .grid_item_three {
        grid-column: 2 / 4;
    }

    /* .grid_item_one {
        grid-column: 1 / 5;
    }

    .grid_item_two {
        grid-column: 1 / 5;
    }

    .grid_item_three {
        grid-column: 1 / 5;
    } */
}

@media screen and (width <= 825px) {
    .grid_container {
        display: grid;
    }

    /* .grid_item_one {
        grid-column: 1 / 5;
    }

    .grid_item_two {
        grid-column: 1 / 5;
    }

    .grid_item_three {
        grid-column: 1 / 5;
    } */
}

@media screen and (width >= 825px) {
    .grid_container {
        display: grid;
    }
}
