/*
utils
*/
.center_text {
    text-align: center;
}

.padding_sm {
    padding: 2.5em;
}

.margin_top_sm {
    margin-top: 2em;
}

.padding_left_sm {
    padding-left: 2em;
}

/*
containers
*/

.flex_container_col {
    display: flex;
    flex-direction: column;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid_item_one {
    grid-column: 2 / 4;
    grid-row: 1;
}

.grid_item_two {
    grid-column: 2 / 4;
    grid-row: inherit;
}

.grid_item_three {
    grid-column: 2 / 4;
    grid-row: inherit;
}

/*
media queries
*/

@media screen and (max-width: 320px) {
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width > 768px) {
}
