.center_text {
    text-align: center;
}

.flex_container_col {
    display: flex;
    flex-direction: column;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
}

.grid_item_one {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid_item_two {
    grid-column-start: -3;
    grid-column-end: -5;
}

.grid_item_three {
    grid-column-start: 3;
    grid-column-end: 5;
}
